---
import Contact from "../components/Contact.astro";
import Experiencia from "../components/Experiencia.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Proyectos from "../components/Proyectos.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import BriefcaseIcon from "../Icons/BriefcaseIcon.astro";
import ProyectosIcon from "../Icons/ProyectosIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Header />

    <main class="mx-5 md:mx-0">
        <SectionContainer id="inicio" className="py-32 md:py-36">
            <Hero />
        </SectionContainer>

        <SectionContainer
            id="experiencia"
            className="pb-32 md:pb-36 animate-to-left"
        >
            <TitleSection>
                <BriefcaseIcon class="size-7 md:size-8" />
                Experiencia
            </TitleSection>

            <Experiencia />
        </SectionContainer>

        <SectionContainer id="proyectos" className="pb-32 md:pb-36">
            <TitleSection class="mb-16.5 section-appear">
                <ProyectosIcon class="size-7 md:size-8" />
                Proyectos
            </TitleSection>

            <Proyectos />
        </SectionContainer>

        <SectionContainer className="pb-32 md:pb-36 section-appear">
            <Contact />
        </SectionContainer>
    </main>

    <Footer />
</Layout>

<style is:global>
    .project {
        animation: project-appear 3s ease-in-out;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        animation-fill-mode: both;
    }
    @keyframes project-appear {
        from {
            opacity: 0;
            translate: 0 500px;
        }
        to {
            opacity: 1;
            translate: 0 0;
        }
    }

    .section-appear {
        animation: section-appear 3s ease-in-out;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
        animation-fill-mode: both;
    }
    @keyframes section-appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .animate-to-right {
        animation: animate-to-right 0.7s cubic-bezier(0.33, 1.05, 0.69, 1);
    }
    @keyframes animate-to-right {
        from {
            opacity: 0;
            translate: -500px;
        }

        to {
            opacity: 1;
            translate: 0;
        }
    }

    @screen md {
        .animate-to-left {
            animation: animate-to-left 0.7s cubic-bezier(0.33, 1.05, 0.69, 1);
        }
    }
    @keyframes animate-to-left {
        from {
            opacity: 0;
            transform: translateX(500px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
</style>
