---
import ExperienceItem from "./ExperienceItem.astro";

export interface Experiencia {
    title: string;
    company: string;
    descriptions: Array<string>;
    date: string;
}

const EXPERIENCE: Array<Experiencia> = [
    {
        date: "julio 2023 - julio 2024",
        title: "Analista de Software",
        company: "IDS Latam",
        descriptions: [
            "Implementé APIs REST conectadas a frontend en React, Angular y React Native para plataformas mineras",
            "Migré sistemas a microfrontends y microservicios con CQRS y Docker, mejorando rendimiento y escalabilidad.",
            "Integré Azure Blob Storage para acceso seguro a documentos técnicos en campo.",
        ],
    },
    {
        date: "enero 2022 - enero 2023",
        title: "Analista de Datos",
        company: "Professional Business Peru",
        descriptions: [
            "Automatizé limpieza de archivos Excel con Python, reduciendo un 35% el tiempo de procesamiento.",
            "Construí dashboards en Power BI para áreas comercial y operativa, mejorando la toma de decisiones.",
            "Optimicé consultas en SQL Server, acelerando la generación de reportes críticos.",
        ],
    },
    {
        date: "enero 2017 - enero 2019",
        title: "Analista Programador",
        company: "X-Ray Ecomovil",
        descriptions: [
            "Desarrollé un CRM médico, automatizando la gestión de pacientes y citas.",
            "Implementé APIs REST con patrón MVC, optimizando el acceso seguro a datos clínicos.",
            "Reduje los tiempos de atención mediante la digitalización de procesos operativos.",
        ],
    },
];
---

<ul class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
            <li>
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ul>
