---
import ExperienceItem from "./ExperienceItem.astro";

export interface Experiencia {
    title: string;
    company: string;
    descriptions: Array<string>;
    date: string;
}

const EXPERIENCE: Array<Experiencia> = [
    {
        date: "julio 2024",
        title: "Analista de Software",
        company: "IDS Latam",
        descriptions: [
            "Desarrollé y mantuve soluciones de software, desde análisis hasta implementación.",
            "Participé en la implementación de Docker y Docker Compose, reduciendo tiempos de despliegue en 20% y mejorando escalabilidad.",
            "Migré soluciones a Micro-Frontends, mejorando escalabilidad y reduciendo mantenimiento.",
            "Desarrollé APIs REST con C# .NET, optimizando integraciones en empresas mineras de Perú y Canadá.",
            "Migré soluciones de JavaScript a TypeScript, mejorando mantenibilidad y eficiencia.",
        ],
    },
    {
        date: "junio 2023",
        title: "Data Analyst",
        company: "Professional Business Peru",
        descriptions: [
            "Reducí un 30% el tiempo de respuesta de consultas complejas con SQL Server.",
            "Automaticé la manipulación de archivos Excel con Python, reduciendo el tiempo de procesamiento.",
            "Implementé limpieza y validación de datos, mejorando la precisión de las bases de datos.",
            "Aceleré procesos y reduje errores, aumentando la productividad en análisis de datos.",
            "Automaticé procesos de análisis de datos.",
        ],
    },
    {
        date: "enero 2019",
        title: "Asistente en Cómputo e Informática",
        company: "X-Ray Ecomovil",
        descriptions: [
            "Optimicé bases de datos, reduciendo tiempos de consulta en 30% y mejorando el rendimiento.",
            "Mejoré la comunicación interna con Microsoft Teams, aumentando la productividad.",
            "Capacité al equipo en herramientas de comunicación, mejorando coordinación y colaboración.",
            "Asistí en la implementación de nuevas tecnologías.",
        ],
    },
];
---

<ul class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
            <li>
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ul>
