---
import CodepenIcon from "../Icons/CodepenIcon.astro";
import GitHubIcon from "../Icons/GitHubIcon.astro";
import LeetcodeIcon from "../Icons/LeetcodeIcon.astro";
---

<footer
    class="flex items-center flex-col sm:flex-row gap-5 justify-between w-custom-width mx-auto pb-14"
>
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
        >&copy; Todos los derechos reservados
    </span>

    <nav class="flex items-center gap-7 dark:text-white/90">
        <a
            href="https://github.com/gngian10"
            class="hover:scale-125 transition"
        >
            <GitHubIcon />
        </a>

        <a
            href="https://codepen.io/giandev10"
            class="hover:scale-125 transition"
        >
            <CodepenIcon />
        </a>

        <a
            href="https://leetcode.com/u/giandev10/"
            class="hover:scale-125 transition"
        >
            <LeetcodeIcon />
        </a>
    </nav>
</footer>
