---
import CustomPointer from "../components/CustomPointer.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Ingeniero de Sistemas e Inform치tica especializado en el desarrollo, dise침o y optimizaci칩n de soluciones tecnol칩gicas."
        />
        <meta
            name="keywords"
            content="portafolio, desarrollo Frontend, desarrollo Fullstack, analista de datos, arquitectura de software"
        />

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <title>Portafolio de Gianfranco</title>
    </head>
    <body class="relative text-black dark:text-white">
        <div class="bg-grid-pattern absolute inset-0 -z-10 min-h-screen w-full">
        </div>

        <CustomPointer />

        <slot />
    </body>
</html>

<style is:global>
    :root {
        color-scheme: light dark;
    }

    html {
        font-family: "Exo 2", sans-serif;
        scroll-behavior: smooth;
        scroll-padding: 5rem;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }

    .bg-grid-pattern {
        animation: moveBg 10s linear infinite;
        background-color: white;
        background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
        background-size: 16px 16px;
    }

    .dark .bg-grid-pattern {
        background-color: #000000;
        background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
        background-size: 20px 20px;
    }

    @keyframes moveBg {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 100px 100px;
        }
    }
</style>
